<header>
  <div class="logo">
    <a routerLink="/"><img src="https://media.tenor.com/TD2oiMxzMLoAAAAj/cthulhu-horror.gif" alt="Logo"></a>
  </div>
  <h1 class="page-title">La librería de los acólitos</h1>
  <div class="dropdown">
    <button class="dropbtn">
      <span class="dropbtn-icon">&#9776;</span>
    </button>
    <div class="dropdown-content">
      <a routerLink="/">Home</a>
      <a routerLink="/register">Register</a>
      <a routerLink="/profile">Perfil</a>
      <a routerLink="/books">Books</a>
      <a routerLink="/addbooks">AddBook</a>
      <a routerLink="/updatebook">UpdateBook</a>
      <a routerLink="/login">Login</a>

    </div>
  </div>
</header>
