<div class="parallax">
    <div class="parallax-content">
    <h1>Biblioteca Inexpugnable</h1>
    <div *ngIf="books.length !== 0;else listaVacia">
        <div *ngFor="let book of books">
            <app-card [book]="book" (delete)="removeCard($event)"></app-card>
        </div>
    </div>
    <ng-template #listaVacia>
        <span class="textoAviso"> No hay libros que mostrar</span>
    </ng-template>
</div>
</div>
<div>
    <app-form-book (enviarBook)="CargarBook($event)"></app-form-book>
</div>