@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');



header {
  height: 100vh;
  background-image: url('https://cdn-prod.scalefast.com/public/assets/user/13772687/sample/85fb531799c3757be6a1c3cb93257da4.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  font-family: 'Cinzel Decorative', bold;
  background-color: #5a5858;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error-message {
  color: rgb(212, 109, 109);
  font-size: 12px;
  margin-top: 5px;
}

button[type="submit"] {
  background-color: #7bca7b;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #068024;
}

.error-message {
  color: rgb(245, 134, 134);
}

input.ng-invalid.ng-touched {
  border: 1px solid rgb(235, 158, 158);
}